<div class="navbar bg-base-100"></div><br/>
<div class="flex-none">
    <ul class="menu menu-horizontal p-0">
        <li><a href="/" class="<%= page === '/' ? 'active' : '' %>">Home</a></li>
        <li><a href="/about" class="<%= page === '/about' ? 'active' : '' %>">About</a></li>
        <li><a href="/lego/sets" class="<%= page === '/lego/sets' ? 'active' : '' %>">View Collection</a></li>
        <li><a href="/lego/addSet" class="<%= page === '/lego/addSet' ? 'active' : '' %>">Add to Collection</a></li>
    </ul>
</div>
