<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>404 ERROR - PAGE NOT FOUND - LEGO COLLECTION</title>
</head>
<body>
    <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
            <li><a class="active" href="/about">About</a></li>
            <summary>THEMES</summary>
            <details>
                <summary>
                    THEMES

                </summary>
                <ul class="p-2 bg-base-100 right-0">
                    <li>
                        <a href="/lego/sets?theme=City">City</a>
                    </li>
                    <li>
                        <a href="/lego/sets?theme=Space">Space</a>
                    </li>
                    <li>
                        <a href="/lego/sets?theme=Castle">Castle</a>
                    </li>
                </ul>
            </details>
        </ul>
    </div>
    <div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <img src = "/images/404error.jpg" alt = "404 NOT THERE"/>
            <h1 class="mb-5 text-5xl font-bold">SPORRY</h1>

            <p class="mb-5">WE GOT AN ERROR WE SHOULD GO BACK.</p>
            <a href="/" class="btn btn-primary">HOME </button>
          </div>
        </div>
      </div>

</body>
</html>