<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>500 ERROR - SERVER ERROR - LEGO COLLECTION</title>
</head>
<body>
    <%- include('partials/navbar', { page: '/home' }) %>

    <div class="hero min-h-screen" style="background-image: url('https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg');">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">SORRY</h1>
                <p class="mb-5">WE GOT AN ERROR WE SHOULD GO BACK.</p>
                <a href="/" class="btn btn-primary">HOME</a>
            </div>
        </div>
    </div>
</body>
</html>
