<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>ABOUT - LEGOOOO</title>
    
</head>
<body>
    <%- include('partials/navbar', { page: '/about' }) %>
    
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">About Me</h1>
                <p class="py-6">THIS IS ALL ME</p>
                <p class="py-6">I AM LITTLE FOND OF CARS SO THATS WHY RATHER THAN MY PICTURE I PUT CARS IMAGE</p>
            </div>
        </div>
    </div>

    <div class="container mx-auto p-5 grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
        <div class="mb-4">
            <img src="/images/b.jpeg" alt="A LOGO of LEGOOOO" class="rounded-lg shadow-xl">
        </div>
        <div>
            <h2 class="text-2xl font-bold mb-4">Hi, I'm Suryansh!</h2>
            <p>Here's a short blurb about myself. I enjoy building Lego sets, exploring new designs, and sharing my creations with the community. Currently, I'm learning more about advanced Lego building techniques and attending courses on architecture.</p>
            <p> I would like to explore more in this course but this assignment was little tough but interesting</p>
        </div>
    </div>
</body>
</html>