<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
    <%- include('partials/navbar', { page: '/home' }) %>

    <div class="hero min-h-screen" style="background-image: url('https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg');">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Hello Welcome to Suryansh LEGO</h1>
                <p class="mb-5">Be ready to enter into the world of LEGO</p>
                <a href="/lego/sets" class="btn btn-wide">Get Started</a>
            </div>
        </div>
    </div>

    <div class="container mx-auto p-5 grid grid-cols-3 gap-4">
        <!-- CARD 1 -->
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img class="w-full" src="https://cdn.rebrickable.com/media/sets/19710-1.jpg" alt="Set Image" /></figure>
            <div class="card-body">
                <h2 class="card-title">CITY!</h2>
                <p>This is the representation of LEGO in the form of a city</p>
                <a href="/lego/sets/19710-1" class="btn btn-primary">View Set</a>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img class="w-full" src="https://cdn.rebrickable.com/media/sets/1969-2.jpg" alt="Set Image" /></figure>
            <div class="card-body">
                <h2 class="card-title">SPACE!</h2>
                <p>This is the representation of LEGO in the form of space</p>
                <a href="/lego/sets/1969-2" class="btn btn-primary">View Set</a>
            </div>
        </div>

        <!-- CARD 3 -->
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img class="w-full" src="https://cdn.rebrickable.com/media/sets/1967-2.jpg" alt="Set Image" /></figure>
            <div class="card-body">
                <h2 class="card-title">CASTLE</h2>
                <p>This is the representation of LEGO in the form of a castle</p>
                <a href="/lego/sets/1967-2" class="btn btn-primary">View Set</a>
            </div>
        </div>
    </div>
</body>
</html>
